.tree {
  display: flex;
  width: 800px;
}

.tree::before {
  content: attr(id);
  text-align: center;
  font-size: 50px;
  width: 50px;
}

.element {
  height: 100px;
  width: 100px;
  border-radius: 50%; /* may require vendor prefixes */
  background: red;
}

.element p {
  font-size: 30px;
  color: white;
  text-align: center;
}

.parents {
  margin: 50px;
  width: 800px;
  display: flex;
  border: black solid;
}

.parent {
  width: 100px;
  text-align: center;
  border-style: none solid;
}


