.element {
  height: 100px;
  width: 100px;
  margin: 20px; 
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%; /* may require vendor prefixes */
  background: red;
}

.element p {
  color: white;
}

.parents {
  margin: 50px 0;
  width: 800px;
  display: flex;
  border: black solid;
}

.parent {
  width: 100px;
  text-align: center;
  border-style: none solid;
}


