.tree {
  display: flex;
  width: 800px;
}

.tree::before {
  content: attr(id);
  text-align: center;
  font-size: 50px;
  width: 50px;
}

.element p {
  font-size: 30px;
  color: white;
  text-align: center;

  width: 100px;
  line-height: 100px;
  border-radius: 50%; 
  background: red;
  margin: 0;
}

.pointer {
  text-align: center;
  
}

.parents {
  margin: 50px;
  width: 800px;
  display: flex;
  border: black solid;
}

.parent {
  width: 92px;
  text-align: center;
  border: solid 1px;
  border-style: none solid;
}






/*.tree123 ul {
	padding-top: 20px; position: relative;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

*/

 .tree123 li {
	float: left; 
  text-align: center;
	list-style-type: none;
	position: relative;
	padding: 20px 5px 0 5px;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
} 

